# Serveur et API
flask

# YouTube video download
pytube

# Audio / vidéo
ffmpeg-python
moviepy
pydub
opencv-python-headless
imageio-ffmpeg

# Transcription et Langchain
openai
langchain
langchain-core
langchain-openai
langchain-text-splitters
langsmith
faster-whisper

# Utilitaires
numpy
requests
orjson
regex
python-dotenv
tqdm
humanfriendly
